<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <h2>KhataBook</h2>
        <div class="links">
          <a href="/" class="btn">Home</a>
          <a href="/create" class="btn">Create New Hisaab</a>
        </div>
      </div>
      <h3>
        You're editing hisaab of
        <span class="file-title"><%= filename.split("_")[0] %></span> date.
      </h3>
      <form action="/update/<%=filename%>" method="POST" class="create-form">
        <textarea name="content"><%= data %></textarea>
        <button type="submit" class="btn">Update Hisaab</button>
      </form>
    </div>
  </body>
</html>
