<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <h2>KhataBook</h2>
        <div class="links">
          <a href="/" class="btn">Home</a>
          <a href="/create" class="btn">Create New Hisaab</a>
        </div>
      </div>
      <h3>
       Hisaab of
        <span class="file-title"><%= filename.split("_")[0] %></span> date.
      </h3>
      <p class="show"><%=data%></p>
      <a href="/edit/<%= filename%>">Edit this hisaab</a>
    </div>
  </body>
</html>
