* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}

.container {
  width: 100%;

  margin: 0 auto;
  padding: 20px 30px;
  background: #ffffff;
  min-height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  background: #1e88e5;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

.hisaab-item {
  background: #1e88e5;
  color: white;
  padding: 12px 14px;
  border-radius: 6px;
  margin-bottom: 12px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  width: 420px; 
  background: #f3f3f3;
  padding: 15px;
  border-radius: 6px;
  white-space: pre-wrap;
}

.actions a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
}

.file-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow {
  font-size: 14px;
  color: rgb(108, 144, 245);
  background-color: #ffffff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.create-form {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.create-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f3f3f3;
}

.create-form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  height: 180px;
  background: #f3f3f3;
}
.create-form textarea {
  height: 180px;
}
.btn {
  background: #1e88e5;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  width: fit-content;
  cursor: pointer;
}
.btn:hover {
  background: #1565c0;
}

.file-title {
  color: #1e88e5;
  font-weight: bold;
}
/* Hisaab text box */
.show {
  background: #f8f6f6;
  padding: 15px;
  border-radius: 6px;
  width: 60%;
  min-height: 100px;
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.delete i {
  color: #e74c3c;
  background-color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}


@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .hisaab-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .actions {
    align-self: flex-end;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}